<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}">
        <img alt="Brand" src="{{site.baseurl}}/images/logo.png">
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#activites">Activités</a></li>
        <li><a href="#planning">Planning</a></li>
        <li><a href="#tarifs">Tarifs</a></li>
        <li><a href="#professeur">Professeur</a></li>
        <li><a href="https://goo.gl/forms/gj4Smi4gvi99e25L2" target="_blank">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
