<div class="row">
  <div class="col-md-12">
    <div class="table-responsive text-center">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>lundi</th>
            <th>mardi</th>
            <th>mercredi</th>
            <th>jeudi</th>
            <th>vendredi</th>
            <th>samedi</th>
          </tr>
        </thead>
        <tbody>
          <!-- 11h -->
          <tr>
            <th>11h</th>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.lun_1_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.lun_1_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.mar_1_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.mar_1_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.mer_1_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.mer_1_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.jeu_1_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.jeu_1_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.ven_1_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.ven_1_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.sam_1_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.sam_1_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- 12h30 -->
          <tr>
            <th>12h30</th>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.lun_2_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.lun_2_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.mar_2_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.mar_2_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.mer_2_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.mer_2_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.jeu_2_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.jeu_2_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.ven_2_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.ven_2_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.sam_2_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.sam_2_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- 18h -->
          <tr>
            <th>18h</th>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.lun_3_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.lun_3_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.mar_3_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.mar_3_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.mer_3_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.mer_3_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.jeu_3_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.jeu_3_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.ven_3_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.ven_3_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.sam_3_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.sam_3_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <!-- 19h -->
          <tr>
            <th>19h</th>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.lun_4_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.lun_4_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.mar_4_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.mar_4_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.mer_4_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.mer_4_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.jeu_4_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.jeu_4_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.ven_4_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.ven_4_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr class="step">
                    <td>{{ page.sam_4_1 }}</td>
                  </tr>
                  <tr class="lia">
                    <td>{{ page.sam_4_2 }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
